<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MorphULU Tasarım Projesi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body class="container text-center bg-light">

    <h1 class="display-4 mt-4 mb-4">MorphULU</h1>
    <h4 >Türkçe Morfolojik Analiz Aracı</h4>


    <button id="normalizationToggle" class="btn btn-warning mt-3 text-white" onclick="toggleNormalization()">Normalizasyon (Demo) Aktif Et</button>
	
    <a href="{{ url_for('developers') }}" class="btn btn-info mt-3 text-white">Geliştiriciler</a>

    <br>
    <br>
    <form method="post" action="/" class="bg-white p-4 rounded-3" id="myForm">
    <input type="hidden" name="normalizasyonAktif" id="normalizasyonAktif" value="False">
    <label for="user_input" class="form-label text-success">Türkçe Metin Giriniz:</label>

    <br>
    <input type="text" name="user_input" id="user_input" class="form-control mb-2">
    <br>
<input type="submit" value="Gönder" class="btn btn-danger">
<br>
<br>
    <input type="submit" name="generate_random_sentence" class="btn btn-success text-white" value="Rastgele Türkçe Cümle Oluştur">

    
</form>


    <div class="spinner-border text-primary mt-3" role="status" id="loadingSpinner">
        <span class="visually-hidden">Loading...</span>
    </div>

    <div id="results" class="mt-3">
        {% if results %}
            <h2 class="mt-4">Sonuçlar:</h2>
            {% for processed_tokens in results %}
                {% for token, result in processed_tokens %}
                    <br>
                    <span class="badge bg-primary fs-6">{{ token }}</span>
                    <span class="badge bg-success fs-6">:</span>
                    <br>
                    <br>
                    <span class="badge bg-danger fs-6">{{ result | safe }}</span>
                    <br>
                    <hr>
                {% endfor %}
                <hr class="my-4">
<hr class="my-4">
            {% endfor %}
            <script>
                document.getElementById("loadingSpinner").style.display = 'none'; 
            </script>
        {% else %}
            <script>
                document.getElementById("loadingSpinner").style.display = 'none'; 
            </script>
        {% endif %}
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script>
        document.getElementById("myForm").addEventListener("submit", function() {
            document.getElementById("results").innerHTML = ''; 
            document.getElementById("loadingSpinner").style.display = 'inline-block'; 
        });

        function toggleNormalization() {
            var button = document.getElementById("normalizationToggle");
            var input = document.getElementById("normalizasyonAktif");

            if (button.innerText.includes("Aktif")) {
                button.innerText = "Normalizasyon (Demo) Kapat";
                button.classList.remove("btn-warning");
                button.classList.add("btn-success");
                input.value = "True";
            } else {
                button.innerText = "Normalizasyon (Demo) Aktif Et";
                button.classList.remove("btn-success");
                button.classList.add("btn-warning");
                input.value = "False";
            }
        }
    </script>
</body>
</html>
